.main_btn {
	display: inline-block;
	font: 2vw/2vh "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	background: linear-gradient(#49708f, #293f50);
	border: 0;
	color: #fff;
	cursor: pointer;
	height: 6vh;
	width: 18vw;
	font-weight: bold;
	padding: 0.5vw 1vh;
	margin-left: 7vw;
     }
     
#header  {
    position: relative;
    top: -1.5vh;
    left: -1.5vw;
    width: 105vw;
    height: 12vh/12vw;
    background: #B6C6D2;
}

#heading  {
    display: inline-block;
    font: 2.5vw/2.5vh "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 2vw;
    margin-top: 2vh;
    
}
