.main_btn {
	display: block;
	position: fixed;
	background: linear-gradient(#49708f, #293f50);
	border: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	float: left;
	
	padding: 1vh 2vh;
	margin-left: 18%;
     }
