.btn {
	display: inline-block;
	background: linear-gradient(#49708f, #293f50);
	font: 1.5vh/1.5vw "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
	color: #fff;
	cursor: pointer;
	height: 3.5vh;
	width: 9.4vw;
	padding: 0.5vw 1vh;
	margin: 0.26vw;
     }
     
ul
{
    list-style-type: none;
    position: relative;
    margin-left: 0.05vw;
    border: 0.25vw solid gray;
    width: 15vw;
    height: 60vh;
    padding: 0.2vw;
    overflow-y: scroll;
}

#server_details {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    top: -68.8vh;
    left: 17.7vw;
    width: 81vw;
    height: 60.7vh;
    overflow-x: scroll;

}

.server_class  {
    display: inline-block;
    margin-left: 2vh;
    
}

body
{
    position: fixed; 
    overflow-y: scroll;
    width: 100vw;
}

hr {
     width: 80vw;
     float: right;
     margin-right: 2vw;
     
}

