.tab  {
	display: inline-block;
	position: fixed;
	top: 16vh;
	left: 16.7vw;
	background: linear-gradient(#49708f, #293f50);
	font: 1.4vh/1.4vw "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
	border-top-left-radius: 1.5vw;
	border-top-right-radius: 1.5vw;
	color: #fff;
	cursor: pointer;
	height: 3.5vh;
	padding: 0.5vw 1vh;
	width: 8.3vw;
	font-weight: bold;
	
}



.btn {
	display: inline-block;
	position: fixed;
	top: 90vh;
	background: linear-gradient(#49708f, #293f50);
	font: 1.5vh/1.5vw "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 0;
	color: #fff;
	cursor: pointer;
	height: 3.5vh;
	width: 9.4vw;
	padding: 0.5vw 1vh;
	margin: 0.26vw;
	left: 0.2vw;
     }
     
#side_list
{
    list-style-type: none;
    top: 19vh;
    position: fixed;
    margin-left: 0.05vw;
    border: 0.25vw solid gray;
    width: 15vw;
    height: 67vh;
    padding: 0.2vw;
    overflow-y: scroll;
}

#server_details {
    display: inline-block;
    position: fixed;
    border: 2px solid black;
    white-space: nowrap;
    top: 20vh; 	
    left: 16.9vw;
    width: 82vw;
    height: 68.7vh;
    overflow-x: scroll;

}

.server_class  {
    display: inline-block;
    margin-left: 2vh;
    position: relative;
    top: -4.4vh;
    
}

.server_heading  {
    font: 1.6vh/1.6vw "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 0.6vh;
    width: 18vw;
    height: 1.8vh;
    background: #6D8DA5;
    margin-top: -100px;
}


.server_counters_list  {
    width: 17vw;
    white-space:normal;
    font: 1.565vh/1.565vw "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0.5vh;
   
}


hr {
     position: relative;
     border: 0.2vh solid #49708f;
     top: 1.2vh;
     width: 81.2vw;
     float: right;
     margin-right: 2vw;
     
}

.side_list_padding  {
    padding: 1.5%;
}

.monitor_group  {
    display: inline-block;
    position: relative;
    top: 4vh;
    white-space: nowrap;
    font: 1.565vh/1.565vw "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0.5vh;
}

.counters_list_css  {
    padding: 1.6%;
    
}

