<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<head>

{% block heading %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<script src="{% static 'js/jquery-1.11.2.js' %}"></script>
<script>
     $(document).ready(function(){
		$("#server_list_form :checkbox").change(function(){
			var $this = $(this);
			if($this.is(':checked')){
				var server_selection = $this.val();
				//alert(server_selection);
				$.post('/mypy/', {server_details_display_list: server_selection, 
					csrfmiddlewaretoken: '{{ csrf_token }}'}, function(response){
					        resp = JSON.parse(response);
						$("#server_details").html(resp.server_name);
						})
					}
				});
			});
			
		
			
    </script>
<h1>MyPy</h1>
{% endblock %}


</head>

<body>
{% block body_tag %}
{% if server_list %}
    
	<form action="/mypy/" method="post" id="server_list_form">
        {% csrf_token %}
        <ul>
	{% for server in server_list %}

	<li style="padding: 1.5%;">
	<input type="checkbox" name="delete_server_checkbox" value="{{server.mysql_server_name}}"/>
	     {{ server.mysql_server_name }}</li>
	{% endfor %}
	</ul>
	<!--Delete server will call the index view with the checkbox values as the POST request-->
	<br>
	<span>
	<input type="submit" value="Delete" class="btn" name="delete_server">
	</form>
	<!--Add server will call the adding_server view-->
	<form action="/mypy/add_server/" method="post" style="float: left;">
	{% csrf_token %}
	<input type="submit" value="Add Server" class="btn">
    </form>
    </span>
{% endif %}
<p id="server_details"></p>
{% endblock %}
</body>

</html>
