<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<head>

{% block heading %}
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<script src="{% static 'js/jquery-1.11.2.js' %}"></script>
<script>
     $(document).ready(function(){
		
		//$("#server_details").prepend("<div style='width: 10vw;'></div>");
		//setting the default monitor group to general_info for landing page
		current_monitor = "general_info";
		var general_info_counters = "<div class='monitor_group'>" +
			                                        "<ul>" +
			                                            "<li>Available?</li>" +
			                                            "<li>Version</li>" +
			                                            "<li>Running for</li>" +
			                                            "<li>Start time</li>" +
			                                            "<li>Default storage engine</li>" +
			                                            "<li>InnoDB version</li>" +
			                                        "</ul>" +
			                                    "</div>";
		$("#server_details").prepend(general_info_counters);
		//this selector describes which monitor has been selected currently
	    //only one monitor group can be selected at one time 
		$("input.tab").click(function(){
			current_monitor = $(this).attr("id");
			//alert(current_monitor);
			switch(current_monitor){
			    case "general_info":
			        $(".monitor_group").remove();
			        var general_info_counters = "<div class='monitor_group'>" +
			                                        "<ul>" +
			                                            "<li>Available?</li>" +
			                                            "<li>Version</li>" +
			                                            "<li>Running for</li>" +
			                                            "<li>Start time</li>" +
			                                            "<li>Default storage engine</li>" +
			                                            "<li>InnoDB version</li>" +
			                                        "</ul>" +
			                                    "</div>";
		            $("#server_details").prepend(general_info_counters);
		            break;
		        
		        case "connection_history":
		            $(".monitor_group").remove();
		            var connection_history_counters = "<div class='monitor_group'>" +
			                                              "<ul>" +
			                                                  "<li>Attempts</li>" +
			                                                  "<li>Successful</li>" +
			                                                  "<li>Percentage of max allowed reached</li>" +
			                                                  "<li>Refused</li>" +
			                                                  "<li>Percentage of refused connections</li>" +
			                                                  "<li>Terminated abruptly</li>" +
			                                              "</ul>" +
			                                          "</div>";
			        $("#server_details").prepend(connection_history_counters);
			        break;
         }
		});
        //alert(current_monitor);
         
        
		//this selector describes which servers are being currently selected
		//more than one server can be selected at a time
		//it sends a post request to the index view and returns the json data
		$("#server_list_form :checkbox").change(function(){
			//alert(current_monitor);
			var $this = $(this);
			if($this.is(':checked')){
				var server_selection = $this.val();
				$.post('/mypy/', {server_details_display_list: server_selection, 
					csrfmiddlewaretoken: '{{ csrf_token }}'}, function(json_response){
					    response_dict = JSON.parse(json_response);
					    var html_response = "<div class='server_class' id='" + $this.val() + "'>" +
						                        "<div class='server_heading'>" + response_dict.server_name + "</div>" + 
						                            "<ul class='server_counters_list'>" +
						                                "<li>" + response_dict.test_var + "</li>" +
						                            "</ul>" +
						                     "</div>"    
						$(".monitor_group").after(html_response);
						})
					}
			else{
				$("#" + $this.val()).remove();
			}
				});
			
		});
		
</script>
<h1>MyPy</h1>
{% endblock %}


</head>

<body>
    {% block body_tag %}
        <input type="button" class="tab" value="General Info" id="general_info" />
        
        <input type="button" class="tab" value="Connection History" id="connection_history" 
        style="left: 16.5vw; width: 10.8vw;" />
        
        <input type="button" class="tab" value="Current Connections" id="current_connection" 
        style="left: 16.2vw; width: 11.2vw;" />
        
        <input type="button" class="tab" value="InnoDB Cache" id="innodb_cache" style="left: 15.9vw;" />
        
        <input type="button" class="tab" value="Threads" id="threads" style="left: 15.6vw;" />
        
        <input type="button" class="tab" value="Query Cache" id="query_cache" style="left: 15.3vw;" />
        
        <input type="button" class="tab" value="Index usage" id="index_usage" style="left: 15vw;" />
        
        <input type="button" class="tab" value="Statements" id="statements" style="left: 14.7vw;" />
        
        <input type="button" class="tab" value="Replication" id="replication" style="left: 14.4vw;" />
        
        
        <hr>
        {% if server_list %}
    
	        <form action="/mypy/" method="post" id="server_list_form">
                {% csrf_token %}
                <ul id="side_list">
	                {% for server in server_list %}
	                
	                    <li class="side_list_padding">
	                        <input type="checkbox" name="delete_server_checkbox" value="{{server.mysql_server_name}}"/>
	                            {{ server.mysql_server_name }}
	                    </li>
	                {% endfor %}
	            </ul>
	            <!--Delete server will call the index view with the checkbox values as the POST request-->
	            <br>
	            <span>
	                <input type="submit" value="Delete" class="btn" name="delete_server" style="width: 5.5vw;">
	        </form>
	        <!--Add server will call the adding_server view-->
	        <form action="/mypy/add_server/" method="post" style="float: left;">
	            {% csrf_token %}
	            <input type="submit" value="Add Server" class="btn">
            </form>
                </span>
        {% endif %}
        <div id="server_details"></div>
    {% endblock %}
</body>

</html>
