<!DOCTYPE html>
   {% load static %}
   <html lang="en">
      <head>
		 <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
         <div id="heading">{% block heading %}<h1>MyPy</h1>{% endblock %}</div>
         <title>{% block title %}MyPy- MySQL Monitoing Tool{% endblock %}</title>
	 <style>{% block style %}{% endblock %}</style>
	 <script>{% block script %}{% endblock %}</script>
      </head>

      <body id="body_tag">
       <form action="/mypy/" method="get">
		   <div style="position: fixed; top: 1.8%; left: 24%;">
          <button type="submit" formaction="/mypy/monitors/" class="main_btn" style="width: 20%;">Monitors</button>
          <button type="submit" formaction="/mypy/realtime/" class="main_btn" style="width: 20%;  margin-left:32%;">Real-Time</button>
       </div>
       </form>
      {% block body_tag %}
      {% endblock %}
      </body>
   </html>
