<!DOCTYPE html>
   {% load static %}
   <html lang="en">
      <head>
		 <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		 <div id="header">
			 <div id="heading">{% block heading %}<h1>MyPy</h1>{% endblock %}</div>
		 </div>
         
         <title>{% block title %}MyPy- MySQL Monitoing Tool{% endblock %}</title>
	 <style>{% block style %}{% endblock %}</style>
	 <script>{% block script %}{% endblock %}</script>
      </head>

      <body id="body_tag">
       <form action="/mypy/" method="get">
		  <span style="position: fixed; top: 2vh; left: 25vw;">
          <button type="submit" formaction="/mypy/monitors/" class="main_btn">Monitors</button>
          <button type="submit" formaction="/mypy/realtime/" class="main_btn">Real-Time</button>
       </span>
       </form>
      {% block body_tag %}
      {% endblock %}
      </body>
   </html>
